.logo-in-footer {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-content {
  background: #058ed9;
  color: white;
  padding-top: 60px;
  
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
  text-align: center;
}

.contact-content p::after {
  background: white;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-content img {
  max-width: 210px;
}

// .footer,
.divvv {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #1771a1;
}


