@import "header";
@import "content";
@import "footer";

html{
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

// Flex box

.flex{

    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    
}

body{
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}